.container {
  position: relative;
}
.container__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .container__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .container__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.heading__heading {
  width: 100%;
  text-align: center;
}
.links__links {
  text-align: center;
}
/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px dashed lightgrey;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  color: #243254;
  background: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4 {
  width: 100%;
  padding: 0 0 30px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
}
p,
span,
strong {
  display: block;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 26px;
}
@media (min-width: 675px) {
  h2 {
    font-size: 26px;
  }
}
p {
  padding: 0 0 15px;
  color: #243254;
  font-size: 16px;
  line-height: 24px;
}
a {
  white-space: nowrap;
  text-decoration: none;
  color: #fb635b;
  outline: none;
  font-family: "Montserrat", Arial, sans-serif;
}
::-webkit-input-placeholder {
  opacity: 1;
  color: #243254;
}
::-moz-placeholder {
  opacity: 1;
  color: #243254;
}
:-moz-placeholder {
  opacity: 1;
  color: #243254;
}
:-ms-input-placeholder {
  opacity: 1;
  color: #243254;
}
input:focus {
  outline: none;
}
label {
  display: block;
  margin: 15px 0 5px;
}
input[type="text"],
input[type="email"],
textarea {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  color: #9e9e9e;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #ffffff;
  font-size: 14px;
}
textarea {
  min-height: 100px;
  resize: none;
}
textarea:focus {
  outline: none;
}
/* ------------------------------------------ */
/* BTN BLOCK
/* ------------------------------------------ */
.btn {
  position: relative;
  display: inline-block;
  min-width: 180px;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 40px;
  background: linear-gradient(135deg, #f4655a 0%, #ff5380 100%);
  font-size: 12px;
  line-height: 40px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  overflow-wrap: normal;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn:hover {
  opacity: 1;
  color: #243254;
  background-color: #fb635b;
}
/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
  position: relative;
}
.header__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .header__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.header__container {
  -ms-flex-direction: row;
      flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.header__navigation {
  width: 100%;
  padding: 0;
}
.header__navigation .header__navigation-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  padding: 0;
  -ms-flex-align: center;
      align-items: center;
}
@media (min-width: 1200px) {
  .header__navigation .header__navigation-items {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
.header__navigation .header__navigation-item {
  width: 100%;
  padding: 15px;
  list-style-type: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .header__navigation .header__navigation-item {
    width: auto;
    padding: 0 15px;
    text-align: right;
  }
  .header__navigation .header__navigation-item:last-child {
    padding-right: 0;
  }
}
.header__navigation a {
  text-transform: uppercase;
  color: #243254;
}
@media (min-width: 1200px) {
  .header__navigation {
    position: inherit;
    width: auto;
  }
}
.header__navigation--closed {
  display: none;
}
@media (min-width: 1200px) {
  .header__navigation--closed {
    display: block;
  }
}
.header__navigation--opened {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  -ms-flex-align: center;
      align-items: center;
}
@media (min-width: 1200px) {
  .header__navigation--opened {
    position: inherit;
    display: block;
    height: auto;
    background: transparent;
  }
}
/* ------------------------------------------ */
/* HAMBURGER BLOCK
/* ------------------------------------------ */
.hamburger {
  z-index: 3;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger__box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  position: absolute;
  width: 40px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #243254;
}
.hamburger__inner::before,
.hamburger__inner::after {
  display: block;
  content: "";
}
.hamburger__inner::before {
  top: -10px;
}
.hamburger__inner::after {
  bottom: -10px;
}
/*
   * 3DX
   */
.hamburger--3dx .hamburger__box {
  perspective: 80px;
}
.hamburger--3dx .hamburger__inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger__inner::before,
.hamburger--3dx .hamburger__inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx.hamburger__active .hamburger__inner {
  transform: rotateY(180deg);
  background-color: transparent;
}
.hamburger--3dx.hamburger__active .hamburger__inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.hamburger__active .hamburger__inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--collapse .hamburger__inner {
  top: auto;
  bottom: 0;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}
.hamburger--collapse .hamburger__inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger__inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.hamburger__active .hamburger__inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--collapse.hamburger__active .hamburger__inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  opacity: 0;
}
.hamburger--collapse.hamburger__active .hamburger__inner::before {
  top: 0;
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-90deg);
}
/* ------------------------------------------ */
/* LOGO BLOCK
/* ------------------------------------------ */
.logo {
  position: relative;
  z-index: 3;
  max-height: 60px;
  padding: 0;
  transition: all 0.2s ease-out;
}
.logo a {
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border: 0;
  outline: none;
}
.logo a:hover {
  text-decoration: none;
  border: 0;
  outline: none;
}
/* ------------------------------------------ */
/* PROMO BLOCK
/* ------------------------------------------ */
.promo {
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 57px);
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}
.promo__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .promo__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .promo__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.promo__heading {
  width: 100%;
  text-align: center;
}
.promo__links {
  text-align: center;
}
.promo__container {
  padding-top: 0;
  padding-bottom: 0;
  background: url(../img/promo/promo__bg.svg) no-repeat center bottom;
  background-size: contain;
}
.promo p {
  font-size: 18px;
}
.promo__links {
  padding: 15px 0;
}
.promo__image {
  padding-top: 30px;
  text-align: center;
  line-height: 0;
}
.promo__image img {
  max-width: 100%;
  height: auto;
}
/* ------------------------------------------ */
/* FEATURES BLOCK
/* ------------------------------------------ */
.features {
  position: relative;
}
.features__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .features__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .features__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.features__heading {
  width: 100%;
  text-align: center;
}
.features__links {
  text-align: center;
}
/* ------------------------------------------ */
/* PRICING BLOCK
/* ------------------------------------------ */
.pricing {
  position: relative;
}
.pricing__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .pricing__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .pricing__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.pricing__heading {
  width: 100%;
  text-align: center;
}
.pricing__links {
  text-align: center;
}
/* ------------------------------------------ */
/* ABOUT US BLOCK
/* ------------------------------------------ */
.about {
  position: relative;
}
.about__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .about__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .about__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.about__heading {
  width: 100%;
  text-align: center;
}
@media (min-width: 675px) {
  .about__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .about__container {
    -ms-flex-align: start;
        align-items: flex-start;
  }
}
.about__text {
  width: 100%;
}
@media (min-width: 675px) {
  .about__text {
    width: 50%;
  }
}
.about__image {
  width: 100%;
  padding-top: 30px;
  line-height: 0;
}
.about__image img {
  width: 100%;
  height: auto;
}
@media (min-width: 675px) {
  .about__image {
    width: 50%;
    padding-top: 0;
  }
}
/* ------------------------------------------ */
/* CLIENTS BLOCK
/* ------------------------------------------ */
.clients {
  border-top: 1px solid #98a6c7;
  position: relative;
}
.clients__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .clients__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .clients__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.clients__container {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
@media (min-width: 675px) {
  .clients__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
@media (min-width: 1200px) {
  .clients__container {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}
.clients__container a {
  width: 50%;
  margin: 15px 0;
  text-align: center;
}
@media (min-width: 675px) {
  .clients__container a {
    width: calc(100% / 3);
  }
}
@media (min-width: 1200px) {
  .clients__container a {
    width: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/* ------------------------------------------ */
/* CONTACT BLOCK
/* ------------------------------------------ */
.contact {
  color: #ffffff;
  background: url(../img/contact/contact__map.png) no-repeat center center;
  background-size: cover;
  position: relative;
}
.contact__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .contact__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .contact__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.contact p {
  color: #ffffff;
}
.contact__container {
  position: relative;
  z-index: 2;
}
@media (min-width: 675px) {
  .contact__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.contact:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(36, 50, 84, 0.82);
}
.contact__text {
  width: 100%;
}
@media (min-width: 675px) {
  .contact__text {
    width: 50%;
  }
}
.contact__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  text-align: center;
  line-height: 0;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 675px) {
  .contact__social {
    width: 50%;
    padding-top: 0;
    text-align: right;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .contact__social a {
    margin: 0 10px 0;
  }
  .contact__social a:last-child {
    margin-right: 0;
  }
}
/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
  position: relative;
}
.footer__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .footer__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    padding: 60px 30px;
  }
}
.footer__container {
  -ms-flex-direction: row;
      flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.footer__copyright {
  font-size: 13px;
  line-height: 1;
}
.footer__navigation {
  width: 100%;
  padding: 0;
}
.footer__navigation ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  padding: 0;
  -ms-flex-align: center;
      align-items: center;
}
@media (min-width: 1200px) {
  .footer__navigation ul {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
.footer__navigation li {
  width: 100%;
  padding: 15px;
  list-style-type: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__navigation li {
    width: auto;
    padding: 0 15px;
    text-align: right;
  }
  .footer__navigation li:last-child {
    padding-right: 0;
  }
}
.footer__navigation a {
  text-transform: uppercase;
  color: #243254;
}
@media (min-width: 1200px) {
  .footer__navigation {
    position: inherit;
    width: auto;
  }
}
