/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	//outline: 1px dashed lightgrey;
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;

	color: @palette__primary;
	background: @palette__tertiary;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;

	-webkit-font-smoothing: antialiased;
}

.body--fixed {
	overflow: hidden;

	@media (min-width: @desktop-widths) {
		overflow: inherit;
	}
}

h1,
h2,
h3,
h4 {
	width: 100%;
	padding: 0 0 30px;

	font-family: "Montserrat", Arial, sans-serif;
	font-weight: normal;
}

p,
span,
strong {
	display: block;
}

h1 {
	padding-bottom: 15px;

	font-size: 24px;
	line-height: 1.2;

	@media (min-width: @tablet-widths) {
		font-size: 34px;
		line-height: 1;
	}
}

h2 {
	padding-bottom: 15px;

	font-size: 26px;

	@media (min-width: @tablet-widths) {
		font-size: 26px;
	}
}

p {
	padding: 0 0 15px;

	opacity: 0.54;
	color: @palette__primary;

	font-size: 16px;
	line-height: 24px;
}

a {
	white-space: nowrap;
	text-decoration: none;

	color: @palette__accent;
	outline: none;

	font-family: "Montserrat", Arial, sans-serif;
}

::-webkit-input-placeholder {
	opacity: 1;
	color: @palette__primary;
}
::-moz-placeholder {
	opacity: 1;
	color: @palette__primary;
}
:-moz-placeholder {
	opacity: 1;
	color: @palette__primary;
}
:-ms-input-placeholder {
	opacity: 1;
	color: @palette__primary;
}

input {
	&:focus {
		outline: none;
	}
}

label {
	display: block;

	margin: 15px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
	position: relative;

	width: 100%;
	margin-bottom: 15px;
	padding: 15px;

	color: #9e9e9e;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #ffffff;

	font-size: 14px;
}

textarea {
	min-height: 100px;

	resize: none;

	&:focus {
		outline: none;
	}
}
