/* ------------------------------------------ */
/* BTN BLOCK
/* ------------------------------------------ */
.btn {
	position: relative;

	display: inline-block;

	min-width: 180px;
	height: 40px;
	padding: 0 16px;

	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;

	color: @palette__tertiary;
	border: 1px solid transparent;
	border-radius: 40px;
	background: linear-gradient(135deg, rgba(244, 101, 90, 1) 0%, rgba(255, 83, 128, 1) 100%);

	font-size: 12px;
	line-height: 40px;

	touch-action: manipulation;
	overflow-wrap: normal;
	flex-shrink: 0;

	&:hover {
		opacity: 1;
		color: @palette__accent;
		border: 1px solid @palette__accent;
		background: @palette__tertiary;
	}

	&--transparent {
		opacity: 1;
		color: @palette__accent;
		border: 1px solid @palette__accent;
		background: @palette__tertiary;

		&:hover {
			opacity: 1;
			color: @palette__tertiary;
			border: 1px solid transparent;
			background: linear-gradient(135deg, rgba(244, 101, 90, 1) 0%, rgba(255, 83, 128, 1) 100%);
		}
	}
}
