/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
	.container();

	&__container {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.footer__copyright {
	font-size: 10px;
	line-height: 1;
}
