/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
	font-size: 12px;

	.container();

	&__container {
		flex-direction: row;

		padding-top: 15px;
		padding-bottom: 15px;

		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}
}

.header__navigation {
	width: 100%;
	padding: 0;

	.header__navigation-items {
		display: flex;
		flex-direction: column;

		width: 100%;
		padding: 0;

		align-items: center;

		@media (min-width: @desktop-widths) {
			flex-direction: row;
		}
	}

	.header__navigation-item {
		width: 100%;
		padding: 15px;

		list-style-type: none;

		text-align: center;
		text-transform: uppercase;

		opacity: 0.54;

		a {
			color: @palette__primary;
		}

		&:hover,
		&:last-child {
			opacity: 1;
		}

		&--active {
			pointer-events: none;

			opacity: 1;
		}

		@media (min-width: @desktop-widths) {
			width: auto;
			padding: 0 15px;

			text-align: right;

			&:last-child {
				padding-right: 0;
			}
		}
	}

	@media (min-width: @desktop-widths) {
		position: inherit;

		width: auto;
	}

	&--closed {
		display: none;

		@media (min-width: @desktop-widths) {
			display: block;
		}
	}

	&--opened {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		left: 0;

		display: flex;

		height: 100vh;

		background: rgba(0, 0, 0, 0.9);

		align-items: center;

		@media (min-width: @desktop-widths) {
			position: inherit;

			display: block;

			height: auto;

			background: transparent;
		}
	}
}
