/* ------------------------------------------ */
/* PROMO BLOCK
/* ------------------------------------------ */
.promo {
	display: flex;

	min-height: calc(~"100vh - 57px");

	align-items: center;
	.container();
	.heading();
	.links();

	&__container {
		background: url(../img/promo/promo__bg.svg) no-repeat center bottom;
		background-size: contain;
	}

	&__links {
		padding: 0;

		a {
			margin: 0 0 15px;

			@media (min-width: @tablet-widths) {
				margin: 0 5px;
			}
		}
	}

	p {
		font-size: 18px;
	}
}

.promo__image {
	padding-top: 30px;

	text-align: center;

	line-height: 0;

	img {
		max-width: 100%;
		height: auto;
	}
}
